// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Average+Sans');

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Override theme settings (see ../template/settings.scss)
$mainColor: #ededed;
$headingFont: 'Futura Md BT', 'League Gothic', Impact, sans-serif;
$heading1Size: 3em;
$heading2Size: 2em;
$heading3Size: 1.2em;
$heading4Size: 1.00em;
$mainFont: 'Brandon Grotesque', 'Lato', sans-serif;
$mainFontSize: 35px;
$headingColor: #F9CC0F;
$headingTextShadow: none;
$backgroundColor: #0F505D;
$linkColor: #0B7678;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #ED344E;


.reveal.reveal pre, .reveal.reveal code {
	font-family: "Courier New", monospace;
}

.reveal.reveal pre {
	width: inherit;
}

.reveal .quoteblock {
	width: 100%;
}

.reveal .fullwidth {
	width: 80%;
	text-align: left;
}

.reveal .slides>section,
.reveal .slides>section>section {
	flex-direction: column;
	align-items: center;

	&.two-columns {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		& h2 {
			flex-basis: 100%;
		}
	}

	.align-left {
		text-align: left;
	}
}

.reveal section .plain img {
	border: 0;
	box-shadow: none;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
